.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rst-btn {
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(0,110,255);
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  margin: 2rem auto;
  display: block;
}
.h1, h3 {
  text-align: center;
}

.App{
  width: 400px;
  margin: 50px auto 0;
}

.board-container{
  margin: 30px;
}

body{
  background-color: #123;
  color: #fff;
}
